html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

section
{
    margin-left: 250px;
    margin-top: 10px;
}

.light-red
{
    height: 150px;
    width: 400px;
    margin: 15px;
    border: 0px;
    padding: 15px;
    background-color: rgb(224, 80, 80);
    display: inline-block;
}

.leaf
{
    height: 150px;
    width: 200px;
    margin: 15px;
    border: 0px;
    padding: 15px;
    background-color: rgb(0, 146, 0);
    display: inline-block;
}

.purple
{
    height: 150px;
    width: 200px;
    margin: 15px;
    border: 0px;
    padding: 15px;
    background-color: rgb(226, 29, 226);
    display: inline-block;
}

.cyan
{
    height: 150px;
    width: 200px;
    margin: 15px;
    border: 0px;
    padding: 15px;
    background-color: cyan;
    display: inline-block;
}

.green
{
    height: 150px;
    width: 400px;
    margin: 15px;
    border: 0px;
    padding: 15px;
    background-color: rgb(21, 206, 135);
    display: inline-block;
}

.parrot
{
    height: 150px;
    width: 200px;
    margin: 15px;
    border: 0px;
    padding: 15px;
    background-color: palegreen;
    display: inline-block;
}

.yellow
{
    height: 150px;
    width: 200px;
    margin: 15px;
    border: 0px;
    padding: 15px;
    background-color: yellow;
    display: inline-block;
}

.orange
{
    height: 150px;
    width: 200px;
    margin: 15px;
    border: 0px;
    padding: 15px;
    background-color: orange;
    display: inline-block;
}

.red
{
    height: 150px;
    width: 400px;
    margin: 15px;
    border: 0px;
    padding: 15px;
    background-color: red;
    display: inline-block;
}

p
{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}